.contact-email-card {
    display: block;
    position: relative;
    padding: 32px;
    color: inherit;
    background-color: #fff;
    border-radius: 32px;
    text-decoration: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: transform 300ms ease;
    z-index: 10;
}

.contact-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    background-color: var(--accent-color-three);
    border-radius: 24px;
    z-index: -1;
}

.contact-icon {
    position: relative;
    top: 2px;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 140px;
    height: 140px;
    padding: 24px 36px;
    text-decoration: none;
    border-radius: 50px;
    background-color: #fff;
    color: #212529;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: all 300ms ease;
}

.social-link:hover {
    transform: scale(1.5)
}

.footer {
    margin-top: 100px;
}

@media (max-width: 576px) {
    .social-link {
        height: 100px;
        width: 100px;
        border-radius: 30px;
    }
}