/*Smooth scrolling*/
html {
    scroll-behavior: smooth;
}
 
/* Theme colours */
:root {
  --accent-color: #d4ed63;
  --accent-color-two: #ff6136;
  --accent-color-three: #170470;
  --color-bg: #EFE7D3;
  --color-bg-alt: #F5EFE7;
}

/* Drop shadow effect */
.shadow-wrapper {
  position: relative;
}

.shadow-blue {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--accent-color-three);
  border-radius: inherit;
  transform: translate(6px, 6px);
  transition: transform 0.3s ease;
}

.drop-shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--accent-color);
  border-radius: inherit;
  transform: translate(8px, 8px);
  transition: transform 300ms ease;
}


.shadow-wrapper:hover .shadow-blue,
.shadow-wrapper:hover .drop-shadow {
  transform: translate(12px, 12px);
}

/* Badges */
.badge-wrapper {
  display: inline-block;
}


.badge-content {
  position: relative;
  padding: 8px 20px;
  background: #fff;
  border-radius: 50px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1)
}

/* Buttons */
.btn-custom {
  position: relative;
  display: inline-block;
  transition: transform 200ms ease;
}

.btn-custom:hover {
  transform: scale(1.05);
}

.btn-custom:active {
  transform: scale(0.95);
}

.btn-custom-content {
  color: #000;
  position: relative;
  padding: 12px 32px;
  background: #fff;
  border-radius: 50px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: transform 300ms ease;
}

/* Sections */
.section-featured {
  min-height: 100vh;
  padding: 128px 24px;
  background-color: var(--color-bg-alt);
}

.section-more-projects {
  min-height: 100vh;
  padding: 128px 24px;
  background-color: var(--color-bg)
}

.section-about {
  min-height: 100vh;
  padding: 128px 24px;
  display: flex;
  align-items: center;
  background-color: var(--color-bg-alt);
}

.section-skills {
  min-height: 100vh;
  padding: 128px 24px;
  display: flex;
  align-items: center;
  background-color: var(--color-bg);
}

.section-contact {
  min-height: 100vh;
  padding: 128px 24px;
  display: flex;
  align-items: center;
  background-color: var(--color-bg-alt);
}

/* Section titles */
.section-title-wrapper {
  position: relative;
  display: inline-block;
  margin-bottom: 80px;
}

.section-title {
  display: inline-block;
  position: relative;
  z-index: 10;
  background: #fff;
  padding: 8px 24px;
  border-radius: 32px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  font-size: clamp(40px, 5vw, 60px);
  font-weight: bold;
  margin: 0;
}

/* Project cards */
.project-card {
  position: relative;
  padding: 40px;
  background: #fff;
  border-radius: 32px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 64px;
}

.project-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  object-fit: cover;
}

.project-preview img {
  max-width: 100%;
  border-radius: 24px;
  filter: saturate(150%);
}

.project-feature {
  display: block;
}

.project-tag {
  margin: 0px 8px 8px 0;
  display: inline-block;
  padding: 6px 16px;
  background-color: #000;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

.project-link-demo {
  padding: 8px 20px;
  background: #fff;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #DEE2E6;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #212529;
  transition: all 300ms ease;
}

.project-link-demo:hover {
  border-color: #000;
  background: #000;
  color: #fff;
}

.project-link-code {
  padding: 8px 20px;
  background: #000;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  transition: background 300ms ease;
}

.project-link-code:hover {
  background: #343a40;
  color: #fff;
}

.project-case-study {
  padding: 20px 10px;
  font-size: 13px;
}

.project-case-study strong {
  display: block;
  font-size: 14px;
}

.small-project-card {
  position: relative;
  padding: 24px;
  height: 100%;
  background: #fff;
  border-radius: 24px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.small-project-link {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #212529;
  text-decoration: none;
}

.small-project-link:hover {
  text-decoration: underline;
  color: #000;
}