.hero-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-bg);
    padding: 128px 24px;
}

.hero-title {
    font-family: 'Paytone One', sans-serif;
    font-size: clamp(140px, 12vw, 24px);
    line-height: 0.75;
    letter-spacing: -5px;
    text-transform: uppercase;
}

.hero-lime-text {
    color: var(--accent-color);
}

.hero-orange-text {
    position: relative;
    left: 25px;
    color: var(--accent-color-two);
}
