.hero-section {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color-three);
    padding: 128px 24px;
}

.hero-title {
    font-family: 'Paytone One', sans-serif;
    font-size: 115px;
    line-height: 0.75;
    letter-spacing: -3px;
    text-transform: uppercase;
}

.hero-lime-text {
    color: var(--accent-color);
}

.hero-orange-text {
    color: var(--accent-color-two);
}

.hero-section h2 {
    color: #fff;
    font-size: 44px;
    width: fit-content;
    padding: 8px 20px;
    background-color: #1b0094;
    border-radius: 50px;
}

.hero-section p {
    color: #fff;
}

@media (max-width: 576px) {
    .hero-title {
        font-size: 65px;
    }

    .hero-section h2 {
        font-size: 24px;
    }
}